{% extends "base.html" %}

{% block title %}Detail View{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-10 offset-sm-1 py-5">
            <h2>{{ object.title }}</h2>
            <p class="fs-4 text-link"> {{ object.text }}</p>
            <hr>
            <img src="{{ object.image.url }}" class="img-fluid rounded shadow-lg border border-4 border-black">
            <hr>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href= "{% url 'feed:delete' object.id %}" class="btn btn-danger me-md-2"><i class="bi bi-trash-fill"></i>  Delete</a>
            </div>
        </div>
    </div>
{% endblock %}
